@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #003049;
}


.desktop .overlap-group-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }
  

  .desktop .overlap-group {
    background-color: #c32f27;
    border: 100px solid;
    border-color: #fb8b24;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 656.5px  739px 0 0; /* Top corners curved, bottom corners sharp */
    border-width: 100px 100px 0 100px; /* Remove the bottom border by setting its width to 0 */



    height: 800px;
    width: 900px;

    display: flex; /* Enable Flexbox */
    align-items: center; /* Centers vertically */
    position: relative; /* Ensure relative positioning for contained elements */
    flex-direction: column; /* Stack children vertically */
    gap: 100px; /* Adds spacing between stacked items */
    padding-top: 200px; /* Adds 50px padding to the top */

}


.desktop .div {
    background-color: #fcbf49;
    border: 10px solid;
    border-color: #eae2b7;
    border-radius: 15px;
    height: 100px;
    width: 500px;

    display: flex; /* Enable Flexbox */
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    position: relative;
}

.desktop .text-wrapper {
    color: #f77f00;
    font-family: "Climate Crisis", sans-serif;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1; /* Ensures spacing around the text is minimal */
    margin-top: -90px; /* Fine-tune vertical alignment */
    text-align: center;
    position: relative; /* Ensure it doesn't escape the `.div` container */
    width: auto;
}

.desktop .rectangle-2 {
    background-color: #fcbf49;
    border: 5px solid;
    border-color: #eae2b7;
    border-radius: 8px;
    height: 30px;
    width: 200px;

    display: flex; /* Enable Flexbox */
    position: relative;
}

.desktop .text-wrapper-2 {
    color: #f77f00;
    font-family: "Climate Crisis", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1; /* Ensures spacing around the text is minimal */
    margin-top: -30px; /* Fine-tune vertical alignment */
    text-align: center;
    position: relative; /* Ensure it doesn't escape the `.div` container */
    width: auto;
}



